#designweek2 .bound {
    width: 100%;
}

#designweek2 .bound .designimage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#designweek2 .bound .designleft, .designright {
    width: 100%;
}

/*requament week1*/
#Labs1 #implement .contents {
    margin-left: 3%;
    font-size: 14px;
}

/**/
#implement .form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
}

#implement .form .formAdd {
    width: 45%;
    background-color: #0c5460;
}

#implement .form .formEdit {
    width: 49%;
    background-color: #1c7430;
}

#implement .contact input[type="text"],
.contact input[type="email"],
.contact input[type="tel"],
.contact input[type="url"],
.contact textarea,
.contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 10px;
}

#implement .contact {
    background: #F9F9F9;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#implement .contact h3 {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    /*width: 100%;*/
}

.contact input[type="text"],
.contact input[type="email"],
.contact input[type="tel"],
.contact input[type="url"],
    /*#contact textarea {*/
    /*    width: 100%;*/
    /*    border: 1px solid #ccc;*/
    /*    background: #FFF;*/
    /*    margin: 0 0 5px;*/
    /*    padding: 10px;*/
    /*}*/

.contact input[type="text"]:hover,
.contact input[type="email"]:hover,
.contact input[type="tel"]:hover,
.contact input[type="url"]:hover,
.contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

/*#contact textarea {*/
/*    height: 100px;*/
/*    !*max-width: 100%;*!*/
/*    resize: none;*/
/*}*/

.contact button[type="submit"] {
    cursor: pointer;
    /*width: 100%;*/
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

.contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

.contact input:focus,
.contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}
#implement .bton{
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    padding: 10px 30px;
    border-radius: 10px;
    outline-style: none;
    box-shadow: 6px 7px #ccd8d7;
    margin-left: 40%;
    margin-top: 2%;
}
#implement .bton a{
    color: #0b1bda;
    font-size: 18px;
    text-decoration: none;
}

/*design week1*/
#design .designleft {
    text-align: center;
    margin-block-end: 2em;
}

#design .designleft img {
    border: 1px solid #c1c3c7;
    border-radius: 10px;
    box-shadow: 15px 15px #d8d8d8;
}

#design .designimage button {
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 10px;
    outline-style: none;
    box-shadow: 6px 7px #ccd8d7;
    margin-left: 45%;
}

#design .designimage button a {
    color: #0b1bda;
    font-size: 18px;
    text-decoration: none;
}

/*plement week1*/
.bt {
    display: flex;
    justify-content: flex-end;
}

.bt .btl button {
    background-color: #ff253a;
}

.bt .btl button:hover {
    background-color: #ff0323;
}

.bt .btr button {
    background-color: #1c7430;
}

.bt .btl, .btr {
    width: 20%;
    margin-inline-end: 5px;
}

#implement .container {
    margin-top: 2em;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu input {
    background-color: #f1efef;
    margin-left: 350px;
    border: 1px solid #f3f1f1;
}

.row .product {
    width: 31%;
    border-radius: 4px 4px 4px 4px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    margin-inline-end: 20px;
}

/*implement week2*/
#implementweek2 .col-md-6 {
    margin-inline-end: 5px;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

#category-products {
    margin-top: 5em;
}

#category-products .row {
    margin-top: 50px;
    align-items: center;
}

#category-products .category-heading {
    font-size: 30px;
    font-weight: 500;
    color: #633991;
    text-align: center;
}

#category-products .product-title {
    border-bottom: 1px solid #E3E3E3;
    height: 60px;
    padding: 13px 0px;
}

#category-products .product-title a {
    font-size: 20px;
    margin: 50px;
}

#category-products .product-options {
    background: #eee;
    border-radius: 0 0 4px 4px;
    height: 55px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#category-products .product-options li .price {
    border-right: 1px solid #D4D4D4;
    float: left;
    font-size: 24px;
    line-height: 55px;
    text-align: center;
}

#category-products .product-options li {
    border-right: 1px solid #D4D4D4;
    float: left;
    font-size: 16px;
    line-height: 55px;
    text-align: center;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    display: inline;
    padding: 10px 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #e74c3c !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e74c3c", endColorstr="#e74c3c");
    background-image: -o-linear-gradient(top, #e74c3c, #e74c3c);
    background-image: linear-gradient(#e74c3c, #e74c3c);
    border-color: #c0392b;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
    -webkit-font-smoothing: antialiased;
}

#category-products .product-image img {
    margin-left: 40px;
}
/*desgn week2*/
#designweek2 .designleft {
    text-align: center;
    margin-block-end: 2em;
}

#designweek2 .designleft img {
    border: 1px solid #c1c3c7;
    border-radius: 10px;
    box-shadow: 15px 15px #d8d8d8;
}

#designweek2 .designimage button {
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 10px;
    outline-style: none;
    box-shadow: 6px 7px #ccd8d7;
    margin-left: 45%;
}

#designweek2 .designimage button a {
    color: #0b1bda;
    font-size: 18px;
    text-decoration: none;
}