.hero{
    height: 400px;
    overflow: scroll;
    background-color: red;
}
.introduce{
    text-align: center;
    height: 100px;
    width: 100%;
}
.col-md-4{
    padding-bottom: 15px;
    padding-top: 15px ;
}
.product img{
    width: 600px;
    height: 300px;
}
